version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    volumes:
      - ./server/uploads:/app/uploads
    restart: unless-stopped
    networks:
      - app-network

  client:
    build: 
      context: ./client
      args:
        - VITE_API_URL=http://localhost:5000/api/blogs
        - VITE_CONTACT_API_URL=http://localhost:5000/api/contact
    ports:
      - "4173:4173"
    depends_on:
      - server
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

